<template>

    <h1 wichtig.bind="color">Binding Behaviours</h1>

    <p>
       Throttle: ${ text & throttle:1000 }
    </p>

    <p>
       Debounce: ${ text & debounce:1000 }
    </p>


    <input type="text" value.bind="text">

</template>