<template>

    <h1 inner-text.bind="titel"></h1>

    <p innerhtml.one-time="name"></p>

    <input type="text" value.two-way="name">

    <button type="button" class="pure-button"
        disabled.bind="nameZuLang"
        title.bind="name">
        Hallo
    </button>

</template>