<template>

    <require from="./board.css"></require>

    <div class="themen-container">
        <div repeat.for="row of router.navigation" class="thema thema--${row.settings.thema}">
            <a class="thema__link" href.bind="row.href">${row.title}</a>
        </div>
    </div>

</template>