.themen-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.thema {
    padding: 20px;
    margin: 30px;
    background: lightgray;
    color: white;
}

.thema__link {
    color: black;
    text-decoration: none;
}

.thema--vertikal {
    background: seagreen;
}

.thema--horizontal {
    background: steelblue;
}

.thema--bonus {
    background: orange;
}