<template>

    <require from="./dateFormat"></require>

    <h1>Value Converters</h1>

    <p>
        ${ jetzt | dateFormat:format }
    </p>

    <input type="text" value.bind="format">

</template>