<template>

    <h1 inner-text.bind="titel"></h1>

    <p innerhtml.bind="name"></p>

    <input type="text" value.bind="name">

    <button type="button" class="pure-button"
        click.delegate="gruss()"
        mousewheel.delegate="wheel($event)">
        Hallo
    </button>

</template>