.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.back a {
    position: fixed;
    text-decoration: none;
    font-size: 3rem;
}