<template>

    <require from="purecss/build/pure.css"></require>
    <require from="purecss/build/grids-responsive.css"></require>

    <require from="./app.css"></require>

    <div class="back">
        <a href="/#/">${ router.isNavigating ? '~' : '<' }</a>
    </div>

    <div class="content">
        <router-view></router-view>
    </div>

</template>