<template>

    <require from="./stringInterpolation.css"></require>

    <h1>${titel}</h1>

    <p>Name: <input type="text" value.bind="name"></p>

    <p class="${nameZuLang ? 'zu-lang': ''}">${gruss}</p>

</template>