<template>

    <h1>${titel}</h1>

    <p>${name}</p>

    <input type="text" value.bind="name">

    <!--show-->
    <button type="button" class="pure-button"
        show.bind="!nameZuLang"
        click.delegate="add()">
        Hallo
    </button>

    <ul>
        <!--<li repeat.for="name of names">${name}</li>-->
        <li repeat.for="name of names">${name} - Index: ${$index} - First: ${$first} - Last: ${$last} - Odd: ${$odd} - Even: ${$even}</li>
    </ul>

</template>